[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/upper/デスクトップ/enokibg2.png]
row=4
col=1

[/home/upper/デスクトップ/enoki_mini.png]
row=7
col=1

[/home/upper/デスクトップ/製作者ホームページ.desktop]
row=2
col=3

[/home/upper/デスクトップ/perl-base_5.26.1-6_amd64.deb]
row=4
col=3

[/home/upper/デスクトップ/enoki2.png]
row=1
col=4

[/home/upper/デスクトップ/picoslides]
row=3
col=3

[/home/upper/デスクトップ/python-vte_0.28.2-5ubuntu4_amd64.deb]
row=0
col=1

[/home/upper/デスクトップ/bleachbit_3.9.0-1_all.deb]
row=5
col=0

[/home/upper/デスクトップ/libvte9_0.28.2-5ubuntu3_arm64.deb]
row=2
col=1

[/home/upper/デスクトップ/gtkorphan_0.4.4-2_all.deb]
row=6
col=3

[/home/upper/デスクトップ/startblack.png]
row=5
col=1

[/home/upper/デスクトップ/Citrus.tar.xz]
row=1
col=2

[/home/upper/デスクトップ/Citrus-red.tar.xz]
row=5
col=2

[/home/upper/デスクトップ/Citrus-orange.tar.xz]
row=4
col=2

[/home/upper/デスクトップ/black.png]
row=0
col=2

[/home/upper/デスクトップ/pinguybuilder_5.2-1_all (1).deb]
row=6
col=0

[/home/upper/デスクトップ/liblightdm-gobject-1-dev_1.26.0-0ubuntu1_amd64.deb]
row=3
col=1

[/home/upper/デスクトップ/091-free-backgrounds.png]
row=0
col=3

[/home/upper/デスクトップ/libvte-common_0.28.2-5ubuntu4_all.deb]
row=1
col=1

[/home/upper/デスクトップ/xresprobe_0.4.24ubuntu9_amd64 (1).deb]
row=4
col=0

[/home/upper/デスクトップ/bodhibuilder_2.18.5_all (1).deb]
row=7
col=0

[/home/upper/デスクトップ/enoki.png]
row=6
col=1

[/home/upper/デスクトップ/Citrus-orange-dark]
row=7
col=2

[/home/upper/デスクトップ/Citrus-brown.tar.xz]
row=3
col=2

[/home/upper/デスクトップ/Citrus-orange]
row=6
col=2

[/home/upper/デスクトップ/Citrus-black.tar.xz]
row=2
col=2

[/home/upper/デスクトップ/libgtk2-gladexml-perl_1.007-2build4_amd64.deb]
row=5
col=3

[/home/upper/デスクトップ/deborphan_1.7.32_amd64.deb]
row=7
col=3

[/home/upper/デスクトップ/wallpaper.jpg]
row=1
col=3

[/home/upper/デスクトップ/grub-640480.png]
row=0
col=4

[ゴミ箱]
row=0
col=0

[/]
row=1
col=0

[/home/upper]
row=2
col=0

