[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/upper/デスクトップ/libvte9_0.28.2-5ubuntu3_arm64.deb]
row=2
col=1

[/home/upper/デスクトップ/liblightdm-gobject-1-dev_1.26.0-0ubuntu1_amd64.deb]
row=3
col=1

[/home/upper/デスクトップ/bodhibuilder_2.18.5_all (1).deb]
row=3
col=2

[/home/upper/デスクトップ/python-vte_0.28.2-5ubuntu4_amd64.deb]
row=0
col=1

[/home/upper/デスクトップ/pinguybuilder_5.2-1_all (1).deb]
row=2
col=2

[/home/upper/デスクトップ/xresprobe_0.4.24ubuntu9_amd64 (1).deb]
row=0
col=2

[/home/upper/デスクトップ/bleachbit_3.9.0-1_all.deb]
row=1
col=2

[/home/upper/デスクトップ/libvte-common_0.28.2-5ubuntu4_all.deb]
row=1
col=1

[2020-04-23-07-50-17-00]
row=3
col=0

[ゴミ箱]
row=0
col=0

[/]
row=1
col=0

[/home/upper]
row=2
col=0

